body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}
/* .bbc-logo {
  /*   display: inline; */
/*   padding-left: 10px; */
/*   position: relative;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat; */

#topbar {
  width: 1000px;
  height: 50px;
  margin: 0 auto;
  font-weight: 600;
  font-size: small;
  /*   background-color: yellow; */
  /*   vertical-align: middle;
  align-items: center;
  justify-content: center; */
}
#bbc-logo {
  margin-top: 10px;
  margin-right: 10px;
  width: 100px;
  float: left;
}
#signin-logo {
  float: left;
  height: 60%;
  margin-top: 10px;
  margin-right: 10px;
}
.topbar-section {
  float: left;
  border-left: 1px lightgray solid;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.topbar-section:hover {
  border-bottom: 3px solid blue;
}
.topbar-section.input-search:hover {
  border-bottom: none;
}
#topbar a {
  text-decoration: none;
}
.menu-item {
  position: relative;
  top: 15px;
}
.input-field {
  position: relative;
  top: -9px;
  background-color: lightgray;
  color: #333;
  border: none;
  margin-right: 0px;
  padding-right: none;
  font-size: 15px;
  font-weight: bold;
  height: 30px;
}
.search-button {
  cursor: pointer;
  position: relative;
  top: -4px;
  left: -5px;
  background-color: lightgray;
  border: none;
  height: 32px;
  margin-left: none;
}
.news-header {
  height: 100px;
  padding: 10px 15px;
  background-color: #bb1919;
  color: white;
  font-size: 40px;
}
.news-header-section {
  height: 30px;
  font-size: 15px;
}
